<h2 class="page-header">Search Facilities</h2>
<form action="/facilities" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Address</label>
      <input type="text" name="address" value="<%= searchOptions.address %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% data.forEach(item => { %>
  <div class="facility-row">
    <div class="facility-name"><%= item.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/facilities/<%= item.id %>">View</a>
      <a class="btn btn-primary" href="/facilities/<%= item.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/facilities/${item.id}` }) %>
    </div>
  </div>
<% }) %>