<h2 class="page-header"><%= data.name %></h2>
<div class="table-details">
  <div>
    <!-- <img class="table-cover" src="data.coverImagePath"> -->
    <div class="table-details-grid">
      <div class="table-details-label">Address:</div>
      <div>
        <%= data.address %>
      </div>
    </div>
  </div>
</div>
<% if(user.role === 'admin') { %>
<div class="btn-row">
  <a class="btn btn-primary" href="/facilities/<%= data._id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/facilities/${data._id}` }) %>
</div>
<% } %>

<% if (data?.tables?.length > 0) { %>
  <h2 class="page-header">Tables</h2>
  <%- include('../partials/tableGrid', { data: data.tables }) %>
<% } %>