<input type="hidden" name="facility" value="<%= facility._id %>">
<input type="hidden" name="facility2" value="<%= facility._id %>">
<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%= data?.name %>">
  </div>
  <div class="form-item">
    <label>Seats</label>
    <input type="number" name="seats" value="<%= data?.seats %>" min="2">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Description</label>
    <input type="text" name="description" value="<%= data?.description %>">
  </div>
</div>
