<h2 class="page-header"><%= data.name %></h2>
<div class="table-details">
  <div>
    <!-- <img class="table-cover" src="data.coverImagePath"> -->
    <div class="table-details-grid">
      <div class="table-details-label">Name:</div>
      <div>
        <%= data.name %>
      </div>
      <div class="table-details-label">Seats:</div>
      <div>
        <%= data.seats %>
      </div>
      <div class="table-details-label">Description:</div>
      <div>
        <%= data.description %>
      </div>
    </div>
    <div class="table-details-btn-grid">
      <a class="btn btn-primary" href="/tables/<%= data._id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/tables/${data._id}` }) %>
      <a class="btn btn-primary table-details-facility-button" href="/facilities/<%= data.facility._id %>">View Facility</a>
    </div>
  </div>

  
  
  
</div>