<h2 class="page-header"><%= data.name %></h2>
<div class="table-details">
  <div>
    <!-- <img class="table-cover" src="data.coverImagePath"> -->
    <div class="table-details-grid">
      <div class="table-details-label">Date and Time:</div>
      <div>
        <%= data.date %>, <%= data.time %>
      </div>
      <div class="table-details-label">Name:</div>
      <div>
        <%= data.name %>
      </div>
      <div class="table-details-label">Phone:</div>
      <div>
        <%= data.phone %>
      </div>
      <div class="table-details-label">Seats:</div>
      <div>
        <%= data.seats %>
      </div>
      <div class="table-details-label">Status:</div>
      <div>
        <%= data.status %>
      </div>

      <div class="table-details-label">Tables:</div>
        <div class="">
          <% for(const item of data.tables) { %>
            <!-- <input class="table-checkbox" type="checkbox" name="tables[]" value="${item._id}" data-seats="${item.seats}" onchange="setTotalSeats(this.checked, this.dataset.seats)"> -->
            <span class="table-name">
              <%= item.name %>
            </span>
            <% } %>
        </div>


    </div>
    
    <div class="table-details-btn-grid">
      <a class="btn btn-primary" href="/reservations/<%= data._id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/reservations/${data._id}` }) %>
    </div>
    
  </div>
</div>